body {
    background-image: url('../../assets/img/monophy.gif');
    background-size: cover;
    background-position: center;
}
  
.instructions { 
    background-color: rgba(255, 255, 255, 0.966);
    box-shadow: 0px 0px 0px rgba(105, 105, 105, 0.884);
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 6rem;

    h1 {
        color: #ff3300;
        font-size: 4rem;
        text-align: center;
    }

    .browser-default{
        padding-left: 1.8rem;
        margin-top: 0.6rem;
        margin-bottom: 3rem;
    }

    img {
        width: 80%;
        height: 50%;
    }

    .left{
        padding: 1rem;
        text-align: center;
        transition: 0.3s linear all;
    }

    .left:hover {
        background-color: #ff3300;
        border-radius: 2rem;
        box-shadow: 0px 15px 20px rgba(229, 98, 46, 0.4);
        color: #fff;
        transform: translateY(-7px);
    }

    .right{
        padding: 1rem;
        text-align: center;
        transition: 0.3s linear all;
    }

    .right:hover {
        background-color: #2EE59D;
        border-radius: 2rem;
        box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
        color: #fff;
        transform: translateY(-7px);
    }

}

@media (max-width: 768px) {
    .instructions { 
        padding: 0 1.5;
        width: 100% !important;
        height: 100% !important;
    }

    h1, h2{
        font-size: 3rem !important;
    }

    h4{
        font-size: 2rem !important;
    }

    .buttons-setion{
        padding-top: 100px !important;
    }
}

@media (max-width: 280px) {
    .instructions { 
        padding: 0 1.5;
        width: 100% !important;
        height: 100% !important;
    }
    h1 {
        font-size: 3rem !important;
    }
}